#firstCircle {
  background-color: yellow;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 2px solid blue;
  margin-bottom: 1%;
}

body{background-color:#252a34;}

.title {
  color:#fc659e;
  font-size:70px;
  line-height:98px;
  font-family: 'Libre Baskerville', serif;
  padding-top:60px; padding-bottom:40px;
  width:90%; background-color:transparent;
  margin:40px auto; overflow:hidden;
  box-sizing: border-box;
  font-kerning: none;
}

#maintext {
  font-size:70px;
  font-family: 'Libre Baskerville', serif;
  color: #ff2e63;
  margin-top: 20%;
  height: 100px;
  margin-bottom: 10%;
}

.infos {
  font-family: 'Libre Baskerville', serif;
  margin-top: 35%;
  height: 100px;
  margin-bottom: 60%;
  opacity: 0;
}

#planet {
  width : 35%;
  position: absolute;
  margin-left: -10%;
  margin-top: -15%;
  top: 0;
  left: 0;
  overflow: hidden;
	-webkit-animation: rotation 5s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

#astronaut {
  width : 35%;
  position: absolute;
  margin-left: 60%;
  top: 0;
  left: 0;
  overflow: hidden;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

#entirescene {
  margin-top: 35%;
  position: absolute;
  width: 100%;
  height: 100%;
}

#meteor {
  margin-top: 35%;
  position: absolute;
  opacity: 0;
  height: 62%;
  margin-left: 46.2%;
}

#dog_animation {
  margin-top: 25%;
  position: absolute;
  width: 50%;
}

#amongus_animation {
  margin-top: 25%;
  position: absolute;
  width: 50%;
}


#starfish_animation {
  margin-top: 40%;
  margin-left: 46%;
  position: absolute;
  width: 25%;
}

#git_animation {
  margin-top: 15%;
  margin-left: -10%;
  position: absolute;
  width: 30%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media (min-width: 100px) {
  #maintext { padding-left: 10%; }
  #maintext span{color: #708090; overflow:hidden; font-size: 35px;}
  #maintext h1{color: #ff2e63; overflow:hidden; font-size: 35px;}

  #secondarytext {font-size: 15px;}
  .infos { padding-left: 10%; }
  .infos span{color: #708090; overflow:hidden; font-size: 20px;}
  .infos h1{color: #ff2e63; overflow:hidden; font-size: 35px;}

  #astronaut {  margin-top: 50%;}
  #entirescene {  opacity: 0;}
}
@media (min-width: 768px) {
  #maintext { padding-left: 20%; }
  #maintext span{color: #708090; overflow:hidden; font-size: 40px;}
  #maintext h1{color: #ff2e63; overflow:hidden; font-size: 40px;}

  #secondarytext {font-size: 15px;}
  .infos { padding-left: 20%; }
  .infos span{color: #708090; overflow:hidden; font-size: 25px;}
  .infos h1{color: #ff2e63; overflow:hidden; font-size: 40px;}

  #astronaut {  margin-top: 40%;}
  #entirescene {  opacity: 0;}
}

@media (min-width: 992px) {
  #maintext { padding-left: 20%; }
  #maintext span{color: #708090; overflow:hidden; font-size: 50px;}
  #maintext h1{color: #ff2e63; overflow:hidden; font-size: 50px;}

  #secondarytext {font-size: 25px;}
  .infos { padding-left: 20%; }
  .infos span{color: #708090; overflow:hidden; font-size: 30px;}
  .infos h1{color: #ff2e63; overflow:hidden; font-size: 70px;}


  #entirescene {  opacity: .3;}
  #astronaut {  margin-top: 50%;}
}
@media (min-width: 1200px) {
  #maintext { padding-left: 20%; }
  #maintext span{color: #708090; overflow:hidden; font-size: 70px;}
  #maintext h1{color: #ff2e63; overflow:hidden; font-size: 70px;}

  #secondarytext {font-size: 25px;}
  .infos { padding-left: 20%; }
  .infos span{color: #708090; overflow:hidden; font-size: 30px;}
  .infos h1{color: #ff2e63; overflow:hidden; font-size: 70px;}

  #astronaut {  margin-top: 22%; width : 30%;}
  #entirescene {  opacity: .3;}
}
 
#secondarytext {font-family: 'Libre Baskerville', serif; color: #eaeaea; text-align:left; font-weight: lighter;}

p {
  text-align: center;
  font-weight: bold;
}




.navbar {
	font-family: 'Montserrat', sans-serif;
  background:#252a34;
	border: none;
}

.container-fluid {
	background-color: #252a34;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: #252a34;
		color:#252a34;
}

.navbar-toggle {
	border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


html::-webkit-scrollbar {
  width: 10px; 
}

html::-webkit-scrollbar-track {
background-color: black;
}

html::-webkit-scrollbar-thumb {
background: #ff2e63;
border-radius: 25px;
}

::-moz-selection { background: #ff2e623b; }
::selection { background: #ff2e623b; }